@page "/editar"
@using BminingBlazor.Services
@using Models
@using System.Runtime.CompilerServices

@inject IDataService _dataService
<h3>Editar</h3>
<EditForm Model="@newusuario2" OnValidSubmit="@EditUsers">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <tr>
        <td>
            <label for="inputNombres">  Mail:  </label>
            <InputText id="Email_Bmining" @bind-Value="newusuario2.Email_Bmining" />
            <label for="inputNombres">  Contrato:  </label>
            <InputNumber id="Cod_TipoContrato" @bind-Value="newusuario2.Cod_TipoContrato" />
          </td>
    </tr>
    <tr>
        <td>
            <label for="inputNombres">  Cargo:  </label>
            <InputText id="Cargo" @bind-Value="newusuario2.Cargo" />
            <label for="inputNombres">  Telefono:  </label>
            <InputText id="Telefono" @bind-Value="newusuario2.Telefono" />
            <label for="inputNombres">  Direccion:  </label>
            <InputText id="Direccion" @bind-Value="newusuario2.Direccion" />
        </td>
    </tr>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="/editar">Ir a editar usuarios</a>
</EditForm>

@code {
    private UsuarioEditModel newusuario2 = new UsuarioEditModel();

    private async Task EditUsers()
        {
            var usuario2 = new UsuarioEditModel()
            {
                Cargo = newusuario2.Cargo,
                Telefono = newusuario2.Telefono,
                Direccion = newusuario2.Direccion,
                Cod_TipoContrato = newusuario2.Cod_TipoContrato,
                Email_Bmining = newusuario2.Email_Bmining
                    


            };

        await _dataService.EditUsers(usuario2);
        }

}
