@page "/"
<div class="bmining-app">
    <h2>@Resource.Home</h2>
    <div class="main-break">
        <div class="main-circle"></div>
        <br>
    </div>
   
    <div>
        <div class="form-group">
            <br>
            <br>
            <h5>@Resource.Intro1</h5>
        </div>
    </div>
</div>


