@page "/AddClient"
@using Models
@using BminingBlazor.Services
@using Models.Project
@inject IClientDataService ClientDataService
@inject IProjectDataService ProjectDataService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "Administracion")]
<h3>Agregar Cliente</h3>

<EditForm Model="@_newClient" OnValidSubmit="@InsertCliente">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="inputNombres">Nombre Cliente:</label>
    <InputText id="Nombre_Cliente" @bind-Value="_newClient.ClientName" />
    <MatButton type="submit" class="btn btn-primary">Guardar</MatButton>

</EditForm>

@code {
    private ClientModel _newClient = new ClientModel();

    private async Task InsertCliente()
    {
        var cliente = new ClientModel()
        {
            ClientName = _newClient.ClientName,
        };
        await ClientDataService.CreateClient(_newClient.ClientName);

        NavigationManager.NavigateTo("/Proyectos");
    }
}
