@page "/AddClient"
@using Models
@using BminingBlazor.Services
@using Models.Project
@inject IClientDataService ClientDataService
@inject IProjectDataService ProjectDataService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "Administracion")]
<h3>Agregar Cliente</h3>

<EditForm Model="@_newClient" >
    <label for="inputNombres">Nombre Cliente:</label>
    <InputText id="Nombre_Cliente" @bind-Value="_newClient.ClientName" />
    <button  class="bmining-button float-right" @onclick="@InsertClient">@Resource.Save</button>

</EditForm>

@code {
    private ClientModel _newClient = new ClientModel();

    private async Task InsertClient()
    {
        var cliente = new ClientModel()
        {
            ClientName = _newClient.ClientName,
        };
        await ClientDataService.CreateClient(_newClient.ClientName);

        NavigationManager.NavigateTo("/Proyectos");
    }
}
