@page "/AddSubProject/{myProjectCode}"
@using ViewModels.Projects
@inject IProjectDataService ProjectDataService
<h3>AddSubProject</h3>

<button @onclick="prueba"></button>

@code {

    [Parameter]
    public string MyProjectCode { get; set; }

    public ProjectViewModel project { get; set; }


    private readonly ProjectViewModel _newCreateProjectView = new ProjectViewModel();

    protected override async Task OnInitializedAsync()
    {
        project = await ProjectDataService.ReadProjectFromCode(MyProjectCode);
    }

    public void prueba()
    {
        CProject proj = new CProject();
        CNode ParentId = proj.Insertar(project, null);
        _newCreateProjectView.MyProjectCode = "prueba";
        proj.Insertar(_newCreateProjectView, ParentId);
    }


}
