@page "/agregarcliente/{id_proyecto:int}"
@using Models
@using BminingBlazor.Services
@inject IProyectoDataService ProyectoDataService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "Administracion")]

<h3>Agregar Cliente</h3>

<EditForm Model="@newProyecto" OnValidSubmit="@InsertCliente">
    <DataAnnotationsValidator />
    <ValidationSummary /><td>


        <label for="inputNombres">Cliente:</label>
        <select class="form-control" @bind="newProyecto.Id_Cliente" required>

            @foreach (var cliente in clientes)
            {
                <option value="@cliente.Id_Cliente">@cliente.Nombre_Cliente</option>
            }
        </select>
        <button type="submit" class="btn btn-primary">Agregar Integrantes</button>

    </td>
</EditForm>

@code {
    [Parameter]
    public int id_proyecto { get; set; }
    private List<ClienteModel> clientes;
    private ProyectoModel newProyecto = new ProyectoModel();
    protected override async Task OnInitializedAsync()
    {

        clientes = await ProyectoDataService.ReadCliente();

    }
    private async Task InsertCliente()
    {
        var proyecto = new ProyectoModel()
        {
            Id_Cliente = newProyecto.Id_Cliente,
            Id_proyecto = id_proyecto
        };
        await ProyectoDataService.AddCliente(proyecto);
        NavigationManager.NavigateTo($"/JefeProyecto/{id_proyecto}");
    }
}
