@page "/Reports_Admin"

@inject NavigationManager NavigationManager
<h3>Report_Admin</h3>

<div class="form-group col">
    <label for="inputStartDate">@Resource.StartDate</label>
    <input class="form-control" type="date" id="inputStartDate" @bind="StartDate" />
</div>
<div class="form-group col">
    <label for="inputEndDate">@Resource.EndDate</label>
    <input class="form-control" type="date" id="inputEndDate" @bind="EndDate" />
</div>

<button @onclick="@ReportHoursCharged" class="bmining-button float-right">reporte horas cargadas</button>
<button @onclick="@ReportHoursApproved" class="bmining-button float-right">reporte horas aprobadas</button>

@code {
    DateTime StartDate;
    DateTime EndDate;

    protected override void OnInitialized()
    {
        StartDate = DateTime.UtcNow;
        EndDate = DateTime.UtcNow;
    }
    private void ReportHoursCharged()
    {
        NavigationManager.NavigateTo($"/viewreporthourscharged/{StartDate.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)}/{EndDate.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)}");
    }
    private void ReportHoursApproved()
    {
        NavigationManager.NavigateTo($"/viewreporthoursapproved/{StartDate.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)}/{EndDate.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)}");
    }

}
