@page "/Reports"

@inject IDummyProjectDataService DummyProjectDataService
@inject IUserDataService UserDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMatDialogService MatDialogService
<h3>Component</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var email = AuthenticationStateProvider.GetEmail();
        var userId = await UserDataService.GetUserId(await email);
        var projectsBelongsUserId = await DummyProjectDataService.GetProjectWhereBelongsUserId(userId);
        
    }

}
