@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-color: #343A40;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.3rem;
        font-weight: bold;
        color: whitesmoke

    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 719px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 719px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        min-height:100vh;
        max-height:200vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
}

.bmining-app {
    color: #282828;
    margin: 0 auto;
    width: 100%;
    padding: 30px 0;
    max-width: 720px
}

.bmining-dialog {
    color: #282828;
    margin: 0 auto;
    width: 100%;
    padding: 30px 0;
    width: 480px
}

.bmining-dialog-inner {
    color: #282828;
    margin: 0 auto;
    width: 100%;
    padding: 30px 0;
    max-width: 360px
}

.bmining-button {
    background-color: #002060;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.bmining-button:hover {
    background-color: #1A3670;
}

.bmining-btn-icon {
    background-color: #002060;
    border: none;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 4px;
    border-radius: 50%;
}

.main-break {
    width: 100%;
    height: 4px;
    background-color: #009B8E;
    position: relative;
    margin: 10px
}

.main-circle {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    background-color: #009B8E;
    border-radius: 50%;
    position: absolute;
    top: calc(-10px/2);
    left: calc(-10px/2);
}

.alternate1-break {
    width: 100%;
    height: 2px;
    background-color: #009B8E;
    position: relative;
    margin: 4px;
}

.alternate2-break {
    width: 100%;
    height: 1px;
    background-color: #009B8E;
    position: relative;
    margin: 4px;
}
.pointer-hover:hover {
    cursor: pointer;
}

table {
    width: 100%;
}

td, th {
    border: 1px solid #002060;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #D9DEE7;
}

h1, h2, h3, h4, h5, h6 {
    color: #002060
}

.bmining-btn-icon:hover {
    background-color: #1A3670;
}

.bg-bmining-success {
    background-color: #00AA00;
}

.bg-bmining-error {
    background-color: #AA0000;
}

.bg-bmining-warning {
    background-color: #AAAA00;
}

.bd-bmining-info {
    border-color: #009B8E;
}

.bd-bmining-success {
    border-color: #00AA00;
}

.bd-bmining-error {
    border-color: #AA0000;
}

.bd-bmining-warning {
    border-color: #AAAA00;
}

.bg-bmining-info {
    background-color: #009B8E;
}

.bg-bmining-error:hover {
    background-color: #B21A1A;
}

@media (min-width: 719px) {
    .alternate3-break {
        width: 100%;
        height: 10px;
        position: relative;
        margin: 4px;
    }
    .alternate4-break {
        width: 100%;
        height: 20px;
        position: relative;
        margin: 4px;
    }



    .btn-plus {
        display: inline-block;
        border: none;
        width: 36px;
        height: 36px;
        background-image: url(https://i.ibb.co/QJtjZY4/boton-mas-Recurso-5-4x.png);
        background-color: transparent;
        transform: scale(0.75);
        transform-origin: left;
        background-size:36px 36px;
    }

    .btn-edit {
        display: inline-block;
        border: none;
        width: 26px;
        height: 26px;
        background-image: url(https://i.ibb.co/7S7GZsL/editar-Recurso-5-4x.png);
        background-color: transparent;
        transform: scale(0.75);
        transform-origin: left;
        background-size:26px 26px;
    }

    .btn-delete {
        display: inline-block;
        border: none;
        width: 25px;
        height: 26px;
        background-image: url(https://i.ibb.co/CQ4wFHS/delete-Recurso-6-4x.png);
        background-color: transparent;
        transform: scale(0.75);
        transform-origin: left;
        background-size:25px 26px;
    }

    .btn-back {
        display: inline-block;
        border: none;
        width: 26px;
        height: 26px;
        background-image: url(https://i.ibb.co/28jq3rW/back-Recurso-7-4x.png);
        background-color: transparent;
        transform: scale(0.75);
        transform-origin: left;
        background-size:26px 26px;
    }

    .btn-next {
        display: inline-block;
        border: none;
        width: 26px;
        height: 26px;
        background-image: url(https://i.ibb.co/xfSfm1p/next-Recurso-8-4x.png);
        background-color: transparent;
        transform: scale(0.75);
        transform-origin: left;
        background-size:26px 26px;
    }




    .projetc {
        position: absolute;
        background-color: white;
        width: 410px;
        height: 30px;
        left: 15px;
    }

    .circle {
        position: absolute;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        left: 0px;
    }

    .little-circle {
        position: absolute;
        width: 18px;
        height: 18px;
        background: white;
        border-radius: 50%;
        left: 506px;
        top: 12px;
    }

    .day {
        position: absolute;
        background-color: white;
        width: 50px;
        height: 30px;
        left: 15px;
        font-weight: 700;
    }

    .line {
        position: absolute;
        background-color: white;
        width: 410px;
        height: 3px;
        left: 15px;
        top: 27px;
    }

    .totalhours {
        position: absolute;
        background-color: white;
        width: 90px;
        height: 18px;
        left: 425px;
        top: 12px;
        color: rgb(31,36,61);
    }

    .trackedhours {
        position: absolute;
        background-color: rgb(31,36,61);
        width: 90px;
        height: 18px;
        left: 410px;
        top: 12px;
        color: white;
    }

    .little-circle-blue {
        position: absolute;
        width: 18px;
        height: 18px;
        background: rgb(31,36,61);
        border-radius: 50%;
        left: 491px;
        top: 12px;
    }

    .bttn {
        position: absolute;
        left: 525px;
    }
    .btn2{
        position:absolute;
        left: 535px;
        z-index:3;
       
    }
    .btn3 {
        position: absolute;
        left: 1210px;
    }

  
}

@media (max-width: 719px) {
    .alternate3-break {
        width: 100%;
        height: 10px;
        position: relative;
        margin: 4px;
    }
    .header-break{
        font-size:12pt;
        
    }
    .txt{
        font-size:8pt;
    }

    .alternate4-break {
        width: 100%;
        height: 0px;
        position: relative;
        margin: 4px;
    }



    .btn-plus {
        display: inline-block;
        border: none;
        width: 26px;
        height: 26px;
        background-image: url(https://i.ibb.co/QJtjZY4/boton-mas-Recurso-5-4x.png);
        background-color: transparent;
        transform: scale(0.75);
        transform-origin: left;
        background-size: 26px 26px;
    }

    .btn-edit {
        display: inline-block;
        border: none;
        width: 26px;
        height: 26px;
        background-image: url(https://i.ibb.co/7S7GZsL/editar-Recurso-5-4x.png);
        background-color: transparent;
        transform: scale(0.75);
        transform-origin: left;
        background-size: 26px 26px;
    }

    .btn-delete {
        display: inline-block;
        border: none;
        width: 25px;
        height: 26px;
        background-image: url(https://i.ibb.co/CQ4wFHS/delete-Recurso-6-4x.png);
        background-color: transparent;
        transform: scale(0.75);
        transform-origin: left;
        background-size: 25px 26px;
    }

    .btn-back {
        display: inline-block;
        border: none;
        width: 26px;
        height: 26px;
        background-image: url(https://i.ibb.co/28jq3rW/back-Recurso-7-4x.png);
        background-color: transparent;
        transform: scale(0.75);
        transform-origin: left;
        background-size: 26px 26px;
    }

    .btn-next {
        display: inline-block;
        border: none;
        width: 26px;
        height: 26px;
        background-image: url(https://i.ibb.co/xfSfm1p/next-Recurso-8-4x.png);
        background-color: transparent;
        transform: scale(0.75);
        transform-origin: left;
        background-size: 26px 26px;
    }




    .projetc {
        position: absolute;
        background-color: white;
        width: 144px;
        height: 30px;
        left: 15px;
    }

    .circle {
        position: absolute;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        left: 0px;
    }

    .little-circle {
        position: absolute;
        width: 18px;
        height: 18px;
        background: white;
        border-radius: 50%;
        left: 211px;
        top: 12px;
    }

    .day {
        position: absolute;
        background-color: white;
        width: 40px;
        height: 30px;
        left: 16px;
        font-weight: 700;
    }

    .line {
        position: absolute;
        background-color: white;
        width: 104px;
        height: 3px;
        left: 56px;
        top: 27px;
    }

    .totalhours {
        position: absolute;
        background-color: white;
        width: 60px;
        height: 18px;
        left: 160px;
        top: 12px;
        color: rgb(31,36,61);
        font-size:8pt;
    }

    .trackedhours {
        position: absolute;
        background-color: rgb(31,36,61);
        width: 60px;
        height: 18px;
        left: 144px;
        top: 12px;
        color: white;
        font-size:8pt;
    }

    .little-circle-blue {
        position: absolute;
        width: 18px;
        height: 18px;
        background: rgb(31,36,61);
        border-radius: 50%;
        left: 195px;
        top: 12px;
    }

    .bttn {
        position: absolute;
        left: 231px;        
    }

    .logo {
        position: absolute;
        background-image: url(https://i.ibb.co/TKZPVnv/logobmining-Recurso-26-2x.png);
        top: 101%;
        left: 300px;
        height: 33px;
        width: 33px; 
    }
    .line-logo{
        width: 110%;
        height: 2px;
        background-color: white;
        position: absolute;
        top:100%;
        left:0%;
        
    }
        
}
.icon-calendar {
    background-image: url(https://i.ibb.co/GpQzssx/calendario-Recurso-28-4x.png);
    width: 20px;
    height: 20px;
    background-repeat:no-repeat;
    background-size:20px 20px;
}
.icon-user {
    background-image: url(https://i.ibb.co/3pY8531/user-Recurso-8-4x.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.icon-plus {
    background-image: url(https://i.ibb.co/2K5ztdp/agregar-Recurso-4-4x.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.icon-logout {
    background-image: url(https://i.ibb.co/CVKbk8Y/logout-Recurso-7-4x.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.icon-report {
    background-image: url(https://i.ibb.co/Qc5PvcX/reporte-Recurso-8-4x.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.icon-arrow {
    background-image: url(https://i.ibb.co/kDXKqfY/flecha-Recurso-6-4x.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}
.icon-home {
    background-image: url(https://i.ibb.co/vkxz1RP/home-Recurso-5-4x.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}
.icon-info {
    background-image: url(https://i.ibb.co/rtXqp4D/seguridad-Recurso-10-4x.png);
    width: 18px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 18px 20px;
}
.icon-projects {
    background-image: url(https://i.ibb.co/Brnp1Qd/proyectos-Recurso-10-4x.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.icon-arrowselect {
    background-image: url(https://i.ibb.co/1fRp2rZ/flecha-abajo-Recurso-10-4x.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}
.btn-member {
    background-image: url(https://i.ibb.co/nBB0xsg/member-Recurso-14-4x.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: transparent;
    display: inline-block;
    border: none;
    transform-origin:left;
}
.btn-download {
    background-image: url(https://i.ibb.co/LxyFZFj/download-Recurso-15-4x.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: transparent;
    display: inline-block;
    border: none;
    transform-origin: left;
}
.btn-approved {
    background-image: url(https://i.ibb.co/VHDWZ2g/approbed-Recurso-16-4x.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: transparent;
    display: inline-block;
    border: none;
    transform-origin: left;
}
.btn-disapproved {
    background-image: url(https://i.ibb.co/fYYfw6P/decline-Recurso-17-4x.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: transparent;
    display: inline-block;
    border: none;
    transform-origin: left;
}
.btn-view {
    background-image: url(https://i.ibb.co/Q8KbjrF/view-Recurso-18-4x.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: transparent;
    display: inline-block;
    border: none;
    transform-origin: left;
}