<AuthorizeView>
    <Authorized>
        @Resource.User: @context.User.Identity.Name
        <a href="AzureAD/Account/SignOut">@Resource.LogOut</a>
    </Authorized>
    <NotAuthorized>
        <a href="AzureAD/Account/SignIn">@Resource.LogIn</a>
    </NotAuthorized>
</AuthorizeView>
