@inherits LayoutComponentBase

<MatThemeProvider Theme="@_matTheme">


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        <MatToastContainer/>
        @Body
        <MatPortalHost/>
    </div>
</div>
</MatThemeProvider>

@code
{
    private readonly MatTheme _matTheme = new MatTheme();

    protected override void OnInitialized()
    {
        _matTheme.Primary = MatThemeColors.BlueGrey._500.Value;
        _matTheme.Secondary = MatThemeColors.BlueGrey._500.Value;
        base.OnInitialized();
    }

}
